aux-config
autom4te.cache
Makefile.in
aclocal.m4
*.pyc
*~
/configure
/extensions/modulesrc/cencalvm.py
/extensions/modulesrc/cencalvm_wrap.cxx
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
portinfo.in
docs/_site
